.listitem{
  font-size: 10px;
  font-weight: 400;
}

.information{
  margin-right:auto;
}

.iconText{
  display: inline-block;
}

.patientInfo{
  font-size: 100;
}

.leftIcon{
  margin-left: 10px;
  margin-right: 2px;
}
